<mat-toolbar>
  <span>{{ title }}</span>
  <span class="espaciador"></span>
  <ng-container *ngFor="let item of menuItems">
    <button mat-button (click)="navigate(item.route)" *ngIf="item.route" class="menu-button">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.title }}</span>
    </button>
    <button mat-button [matMenuTriggerFor]="perfilMenu" *ngIf="!item.route">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.title }}</span>
    </button>
  </ng-container>
</mat-toolbar>

<mat-menu #perfilMenu="matMenu">
  <button mat-menu-item *ngIf="!loginService.isLoggedIn()" (click)="toggleLogin()">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item *ngIf="loginService.isLoggedIn()" (click)="navigateToUserConfig()">
    <mat-icon>settings</mat-icon>
    <span>Configuración</span>
  </button>
  <button mat-menu-item *ngIf="loginService.isLoggedIn()" (click)="toggleLogin()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
